modules = ["nodejs-20", "web", "swift-5.8", "java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
VITE_API_KEY = "${API_KEY}"
TRUID_DOMAIN = "truidconnect.io"
TRUID_API_BASE = "https://api.truidconnect.io"
TRUID_SCHEME = "https"
COMPANY_ID = "AlgoLend"
REDIRECT_URL = "https://98c53c65-2d21-45be-85d9-9955243bdc05-00-345u4hugvanos.spock.replit.dev/onboarding?step=3"
WEBHOOK_URL = "https://98c53c65-2d21-45be-85d9-9955243bdc05-00-345u4hugvanos.spock.replit.dev/api/truid/webhook"
SUMSUB_LEVEL_NAME = "basic-kyc-level"
